/*
    Main Project Style Sheet
*/
body{
    background-color: #eee;
}

#container{
    padding: 40px;
    margin-top: 75px;
}
.navbar{
}
.custom-control{
    padding-left: 0px;
    padding-top: 24px;
}